@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
:root{
  --monster: 'Montserrat', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  list-style: none !important;
  text-decoration: none !important;
}
header{
  width: 100%;
  height: 100vh;
  background-image: url('./rasim/Rectangle.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navbar{
  height: 4.50em;
  border-bottom: 1px solid grey;
}
.navbar ul{
  font-family: var(--monster);
  font-weight: 500;
  height: 3.6em;
  padding-left: 45em;
}
.navbar ul li a{
  color: white;
  font-size: 1em;
}
.navbar ul li{
  cursor: pointer;
  color: white;
  padding: 0px 25px;
}
.head-body p{
  font-family: var(--monster);
  color: rgb(228, 228, 228);
}
.head-body h1{
  font-family: var(--monster);
  font-weight: 800;
  color: white;
}
/* start first section */
section{
  height: 36em;
}
.xizmatlar{
  padding-top: 100px;
  width: 80%;
}
.xizmatlar h2{
  font-family: var(--monster);
  font-weight: 700;
  color: #323232;
}
.birinchi p{
  font-family: var(--monster);
  color: grey;
}
.sayt-yaratish{
  height: 5.625em;
  width: 5.625em;
  margin-left: 20px;
  border: 1px solid rgb(0, 162, 255);
}
.sayt-yaratish img{
  padding-top: 25%;
}
.roku{
  width: 60%;
}
.box1{
  position: relative;
}
.text1{
  position: absolute;
  top: 2.5em;
  left: 8.75em;
}
.box2{
  padding-top: 90px;
}
/* start second section */
.ikkinchi{
  background-color: #f2f2f2;
  height: 770px;
}
.page-rivojlanish{
  padding-top: 70px;
  width: 100%;
  height: 600px;
}
.text2{
  padding-top: 50px;
  width: 40%;
}
.rasim{
  padding-left: 20px;
}
.web-programming{
  padding-top: 80px;
}
.page-rivojlanish hr{
  margin-top: 80px;
}
/* start third section */
.uchinchi{
  width: 100%;
  height: 440px;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;;
}
.page-xizmatlar{
  padding-top: 60px;
  width: 100%;
}
.page-cards{
  padding-top: 50px;
}
.page-xizmatlar h2{
  color: white;
}
.card{
  border: none;
  background-color: rgba(255, 0, 0, 0);
}
.card-title{
  color: #4985FF;
}
.card-text{
  color: grey;
  margin-top: 20px;
}
/* start qo'shimcha section */
.qoshimchaku{
  height: 70px;
}
.qoshimchaku hr{
  width: 1000px;
  margin: 0 auto;
  margin-top: 400px;
}
/* start fourth section */
.tortinchi{
  height: 700px;
  background: #F6F6F8;;
}
.page-bizningloyihalar{
  padding-top: 100px;
  width: 100%;
}
.rasim1{
  padding-top: 50px;
  width: 100%;
}
.text3{
  color: grey;
  padding-top: 50px;
  width: 620px;
}
/* start fifth section */
.beshinchi{
  width: 100%;
  height: 400px;
  background-image: url('./rasim/section\ video.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.page-video{
  width: 100%;
  padding-top: 50px;
}
.page-video h2{
  color: white;
}
.page-video p{
  color: rgb(218, 218, 218);
}
.video-rasim{
  position: relative;
  padding-top: 20px;
  width: 100%;
  height: 440px;
}
.video-buton{
  position: absolute;
  top: 175px;
  left: 347px;
}
/* start six section */
.oltinchi{
  height: 360px;
}
.oltinchi hr{
  width: 1100px;
  margin: 0 auto;
  margin-top: 270px;
  color: gray;
}
.page-search{
  padding-top: 70px;
  width: 420px;
}
.search input[type=text] {
  width: 290px;
  padding: 6px;
  font-size: 17px;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  outline: none;
}
.search input::placeholder{
  font-size: 13px;
  color: grey;
  padding-left: 20px;
}
.search button {
  width: 104px;
  float: right;
  padding: 6px 10px;
  color: white;
  background: #4985FF;
  font-size: 17.5px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  cursor: pointer;
}
.search form{
  border: 1px solid #F2F2F2;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  height: 40px;
}
/* start footer */
footer{
  background: #F6F6F8;
  height: 400px;
}
.malumotlar{
  padding-top: 40px;
  width: 100%;
}
.malumotlar ul li{
  margin-left: -30px;
  margin-top: 18px;
  color: #999999;
}
.malumotlar ul li a{
  color: #999999;
}
footer hr{
  margin-top: 55px;
  width: 980px;
}
footer p{
  padding-top: 17px;
  color: #999999;;
}

/* start meadi 576 */

@media only screen and (max-width: 576px) {
  header{
    width: 100% !important;
  }
  .navbar ul{
    padding-left: 0em !important;
  }
  .navbar ul li a{
    color: white;
    font-size: .7em;
  }
  .head-body h1{
    font-size: 1em;
  }
  .birinchi{
    width: 100%;
    height: auto;
    background-color: white;
  }
  .xizmatlar{
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
  }
  .ikkinchi{
    width: 100% !important;
    background-color: #f2f2f2;
    height: auto;
  }
  .rasim{
    padding-left: 0px !important;
    text-align: center;
  }
  .rasim img{
    width: 370px;
  }
  .text2{
    text-align: center;
    width: 100% !important;
    margin: 0 auto;
  }
  .page-rivojlanish{
    padding-top: 0px !important;
    width: 100%;
    height: auto;
  }
  .uchinchi{
    width: 100% !important;
    height: auto !important;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;;
  }
  .qoshimchaku{
    display: none;
  }
  .tortinchi{
    height: auto !important;
    background: #F6F6F8;;
  }
  .page-bizningloyihalar{
    padding-top: 30px !important;
    width: 100%;
  }
  .rasim1{
    padding-top: 50px;
    width: 100%;
  }
  .rasim1 img{
    width: 240px;
  }
  .text3{
    color: grey;
    padding-top: 15px !important;
    width: 100% !important;
  }
  .video-rasim{
    width: 70%;
    margin: 0 auto;
  }
  .mp4{
    position: relative;
  }
  .video-rasim img{
    width: 100%;
    border-radius: 20px;
  }
  .video-buton{
    position: absolute;
    top: 30% !important; 
    left: 50% !important;
    width: 100px !important;
    transform: translate(-50%, -50%);
  }
  .hr{
    display: none;
  }
  footer{
    background: #F6F6F8;
    height: 888px !important;
  }
  .malumotlar{
    width: 100%;
  }
  .mn{
    width: 100%;
    margin: 0px !important;
  }
  .card{
    width: 50%;
    margin: 0 auto;
  }
  .page-cards{
    width: 50% ;
    margin: 0 auto;
  }
  .box1{
    position: none;
  }
  .sayt-yaratish{
    width: 60%;
    margin: 0 auto;
  }
  .iconsurish{
    width: 50%;
    margin: 0 auto;
  }
  .text1{
    text-align: center;
    position: relative;
    top: 0em;
    left: 0em;
  }
  .box2{
    padding-top: 0px;
  }
}

@media only screen and (min-width: 576px) {
  header{
    width: 100% !important;
  }
  .navbar ul{
    padding-left: 0em !important;
  }
  .navbar ul li a{
    color: white;
    font-size: .7em;
  }
  .head-body h1{
    font-size: 1em;
  }
  .birinchi{
    width: 100%;
    height: auto;
    background-color: white;
  }
  .xizmatlar{
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
  }
  .ikkinchi{
    width: 100% !important;
    background-color: #f2f2f2;
    height: auto;
  }
  .rasim{
    padding-left: 0px !important;
    text-align: center;
  }
  .rasim img{
    width: 370px;
  }
  .text2{
    text-align: center;
    width: 100% !important;
    margin: 0 auto;
  }
  .page-rivojlanish{
    padding-top: 0px !important;
    width: 100%;
    height: auto;
  }
  .uchinchi{
    width: 100% !important;
    height: auto !important;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;;
  }
  .qoshimchaku{
    display: none;
  }
  .tortinchi{
    height: auto !important;
    background: #F6F6F8;;
  }
  .page-bizningloyihalar{
    padding-top: 30px !important;
    width: 100%;
  }
  .rasim1{
    padding-top: 50px;
    width: 100%;
  }
  .rasim1 img{
    width: 240px;
  }
  .text3{
    color: grey;
    padding-top: 15px !important;
    width: 100% !important;
  }
  .video-rasim{
    width: 70%;
    margin: 0 auto;
  }
  .mp4{
    position: relative;
  }
  .video-rasim img{
    width: 100%;
    border-radius: 20px;
  }
  .video-buton{
    position: absolute;
    top: 30% !important; 
    left: 50% !important;
    width: 100px !important;
    transform: translate(-50%, -50%);
  }
  .hr{
    display: none;
  }
  footer{
    background: #F6F6F8;
    height: 888px !important;
  }
  .malumotlar{
    width: 100%;
  }
  .mn{
    width: 100%;
    margin: 0px !important;
  }
  .card{
    width: 50%;
    margin: 0 auto;
  }
  .page-cards{
    width: 50% ;
    margin: 0 auto;
  }
  .box1{
    position: none;
  }
  .sayt-yaratish{
    width: 50%;
    margin: 0 auto;
  }
  .iconsurish{
    width: 50%;
    margin: 0 auto;
  }
  .text1{
    text-align: center;
    position: relative;
    top: 0em;
    left: 0em;
  }
  .box2{
    padding-top: 0px;
  }
}

/* media 768 */

@media only screen and (min-width: 768px) {
  .navbar ul{
    font-size: 1.1em;
  }
  .head-body h1{
    font-size: 1.4em;
  }
  .sayt-yaratish{
    width: 4.5em;
    height: 4.5em;
  }
  .iconsurish{
    width: 80%;
  }
  .page-rivojlanish{
    position: relative;
  }
  .text2{
    position: absolute;
    left: 0px;
    width: 50% !important;
  }
  .rasim{
    width: 100%;
    height: 250px;
    position: relative;
  }
  .rasim img{
    position: absolute;
    right: 0px;
  }
  .web-programming{
    padding-top: 20px;
  }
  .page-xizmatlar h2{
    margin-left: 20px;
  }
  .page-xizmatlar button{
    margin-top: 20px;
  }
  .uchinchi{
    height: 400px !important;
  }
  .page-cards{
    width: 80%;
  }
  .qoshimchaku{
    display: block;
  }
  .carduchun{
    text-align: center;
  }
  .card3{
    display: none;
  }
  .text3{
    width: 80% !important;
  }
  .page-bizningloyihalar{
    width: 90%;
  }
  .rasim1 img{
    width: 100%;
  }
  footer{
    height: 525px !important;
  }
  .qoshimchaku hr{
    width: 100% !important;
  }
}
@media only screen and (min-width: 992px) {
  footer{
    height: 310px !important;
  }
  .video-buton{
    margin-top: 80px;
    width: 12em !important;
  }
  .page-search{
    margin-top: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar{
    position: relative;
  }
  .navbar ul{
    position: absolute;
    right: 100px;
    font-size: 1.3em;
  }
  .roku{
    width: 90%;
  }
  .iconsurish{
    position: relative;
  }
  .sayt-yaratish{
    position: absolute;
    left: 0px !important;
  }
  .text1{
    text-align: start;
    width: 50%;
    top: 2em;
    left: 7.7em;
  }
  .box2{
    padding-top: 40px;
  }
  .web-programming{
    text-align: center;
    width: 100%;
  }
  .card3{
    display: block;
  }
  .page-rivojlanish{
    width: 70%;
  }
  .page-rivojlanish h2{
    text-align: start;
  }
  .page-rivojlanish p{
    text-align: start;
  }
  .web-programming p{
    text-align: center;
  }
  .video-rasim{
    width: 70%;
    height: 400px;
  }
  .mp4 img{
    width: 100%;
  }
  .page-search{
    margin-top: 150px;
  }
  .video-buton{
    margin-top: 100px;
    width: 12em !important;
  }
}