*{
  margin: 0;
  padding: 0;
  list-style: none !important;
  text-decoration: none !important;
}
header{
  width: 100%;
  height: 100vh;
  background-image: url('./rasim/Rectangle.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navbar{
  height: 5em;
  border-bottom: 1px solid grey;
}
.navbar ul{
  height: 3.6em;
  padding-left: 45em;
}
.navbar ul li{
  cursor: pointer;
  color: white;
  padding: 0em 0.940em;
}
.head-body p{
  color: rgb(228, 228, 228);
}
.head-body h1{
  color: white;
}
/* start first section */
section{
  height: 36em;
}
.xizmatlar{
  padding-top: 100px;
  width: 46.188em;
}
.birinchi p{
  color: grey;
}
.sayt-yaratish{
  height: 5.625em;
  width: 5.625em;
  margin-left: 20px;
  border: 1px solid rgb(0, 162, 255);
}
.sayt-yaratish img{
  padding-top: 25%;
}
.roku{
  width: 60%;
}
.box1{
  position: relative;
}
.text1{
  position: absolute;
  top: 2.5em;
  left: 8.75em;
}
.box2{
  padding-top: 90px;
}
/* start second section */
.ikkinchi{
  background-color: #f2f2f2;
  height: 770px;
}
.page-rivojlanish{
  padding-top: 70px;
  width: 1000px;
  height: 600px;
}
.text2{
  padding-top: 50px;
  width: 40%;
}
.rasim{
  padding-left: 10%;
}
.web-programming{
  padding-top: 80px;
}
.page-rivojlanish hr{
  margin-top: 80px;
}
/* start third section */
.uchinchi{
  width: 100%;
  height: 440px;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;;
}
.page-xizmatlar{
  padding-top: 100px;
  width: 1000px;
}
.page-cards{
  padding-top: 50px;
}
.page-xizmatlar h2{
  color: white;
}
.card{
  border: none;
  background-color: rgba(255, 0, 0, 0);
}
.card-title{
  color: #4985FF;
}
.card-text{
  color: grey;
  margin-top: 20px;
}
/* start qo'shimcha section */
.qoshimchaku{
  height: 70px;
}
.qoshimchaku hr{
  width: 1000px;
  margin: 0 auto;
  margin-top: 400px;
}
/* start fourth section */
.tortinchi{
  height: 700px;
  background: #F6F6F8;;
}
.page-bizningloyihalar{
  padding-top: 100px;
  width: 1100px;
}
.rasim1{
  padding-top: 50px;
  width: 1100px;
}
.text3{
  color: grey;
  padding-top: 50px;
  width: 620px;
}
/* start fifth section */
.beshinchi{
  width: 100%;
  height: 450px;
  background-image: url('./rasim/section\ video.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}