*{
  margin: 0;
  padding: 0;
  list-style: none !important;
  text-decoration: none !important;
}
header{
  height: 56.25em;
  background-image: url(./rasim/Rectangle.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
}
.navbar{
  height: 5em;
  border-bottom: 1px solid grey;
}
.navbar ul{
  height: 3.6em;
  padding-left: 57.5em;
}
.navbar ul li{
  cursor: pointer;
  color: white;
  padding: 0em 0.940em;
}
.head-body p{
  color: rgb(228, 228, 228);
}
.head-body h1{
  color: white;
}
/* start first section */
section{
  height: 36em;
}
.xizmatlar{
  padding-top: 6.25em;
  width: 46.188em;
}
.birinchi p{
  color: grey;
}
.sayt-yaratish{
  height: 5.625em;
  width: 5.625em;
  margin-left: 20px;
  border: 1px solid rgb(0, 162, 255);
}
.sayt-yaratish img{
  padding-top: 25%;
}
.roku{
  width: 60%;
}
.box1{
  position: relative;
}
.text1{
  position: absolute;
  top: 2.5em;
  left: 8.75em;
}
.box2{
  padding-top: 90px;
}
/* start second section */
.ikkinchi{
  background-color: #f2f2f2;
  height: 770px;
}
.page-rivojlanish{
  padding-top: 70px;
  width: 1000px;
  height: 600px;
}
.text2{
  padding-top: 50px;
  width: 40%;
}
.rasim{
  padding-left: 10%;
}
.web-programming{
  padding-top: 80px;
}
.page-rivojlanish hr{
  margin-top: 80px;
}